@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  --off-white: #f3f4f6;
  --dark-gray: #6b7280;
  --coolGray50: #F9FAFB;
  --coolGray100: #F3F4F6;
  --coolGray200: #E5E7EB;
  --coolGray300: #D1D5DB;
  --coolGray400: #9CA3AF;
  --coolGray500: #6B7280;
  --coolGray600: #4B5563;
  --coolGray700: #374151;
  --coolGray800: #1F2937;
  --coolGray900: #111827;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: var(--coolGray900);
  color: var(--coolGray50);
  user-select: none;
  overscroll-behavior: none;
}

/** container **/
.body-container {
  display: block;
  flex-direction: column;
  margin: auto;
  max-width: 1200px;
  padding: 0 2rem;
}

section{
  margin: auto;
}

/* @media (max-width: 1200px){
  .container{
    max-width: 90vw;
  }
} */

/** navigation **/

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0rem;
  color: var(--coolGray50);
}

.nav-logo {
  font-weight: bold;
  font-size: 1.3rem;
  margin-right: auto;
  text-decoration: none;
  color: var(--coolGray50);
  transition: color 0.25s ease-in;
}

.nav-logo:hover{
  color: var(--coolGray400);
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-item {
  display: flex;
  margin-left: 2rem;
  text-decoration: none;
  color: var(--coolGray50);
  transition: color 0.25s ease-in;
}

.nav-item:hover {
  color: var(--coolGray400);
}

.nav-menu .active {
  font-weight: bold;
  font-size: 1rem;
}

/* hero */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  min-height: 70vh;
}

.hero .hero-image {
  max-height: 160px;
  max-width: 160px;
  border-radius: 100%;
  margin: 1rem 0;
}

.hero .hero-title {
  color: var(--coolGray300);
  text-align: center;
  max-width: 400px;
  line-height: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.hero .hero-heading {
  color: var(--coolGray50);
  text-align: center;
  font-size: 2rem;
  margin: 0rem 0;
  max-width: 500px;
}

.hero .hero-subheading {
  color: var(--coolGray400);
  text-align: center;
  max-width: 400px;
  line-height: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.text-highlight{
  color: var(--coolGray50);
  font-weight: normal;
}

.social-link-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  max-width: 200px;
  margin: 1rem 0;
}

a{
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.social-link-a{
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.social-link-bar .social-link-item{
  display: flex;
  flex-direction: row;
  height: 1.3rem;
  width: 1.3rem;
  opacity: 0.6;
  filter: brightness(0) invert(1);
  transition: opacity 0.25s ease;
}

.social-link-item:hover {
  opacity: 1;
}

.link-primary{
  display: inline-block;
  background-color: var(--coolGray100);
  border: none;
  color: var(--coolGray900);
  font-weight: 800;
  text-transform: uppercase;
  padding: 1rem 2rem;
  margin: 1rem auto;
  min-width: 12rem;
  transition: background-color 0.25s ease-in;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.link-primary:hover{
  background-color: var(--coolGray300);
}

.link-secondary{
  display: inline-block;
  background-color: var(--coolGray900);
  border: 2px solid var(--coolGray50);
  color: var(--coolGray50);
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 1rem 2rem;
  margin: 1rem auto;
  min-width: 12rem;
  transition: color, background-color 0.25s ease-in;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.link-secondary:hover{
  background-color: var(--coolGray50);
  color: var(--coolGray900);
}

.list-non-bullet{
  list-style-type: none;
  padding: 0;
}

.section-title {
  font-weight: bold;
  font-size: 2rem;
  color: var(--coolGray200);
}

.section-text{
  line-height: 2rem;
  color: var(--coolGray400);
  
}

.feature {
  display: flex;
  flex-direction: row;
  padding: 5rem 0;
}

.feature_image_container{
  max-width: 50%;
  width: 50%;
  flex: 1;
  margin: 1rem 0;
}

.feature_image{
  max-width: 100%;
  width: 100%;
  height: 80vh;
  max-height: 80vh;
  margin: 1rem 0;
  object-fit: cover;
}

.feature_content {
  flex: 1;
  padding-left: 5%;
  justify-content: center;
  margin: auto;
}

/* blog */

.feature-rev {
  display: flex;
  flex-direction: row-reverse;
  padding: 5rem 0;
}

.feature_rev_image_container{
  max-width: 50%;
  width: 50%;
  flex: 1;
  margin: 1rem 0;
}

.feature_rev_image{
  max-width: 100%;
  width: 100%;
  height: 80vh;
  max-height: 80vh;
  margin: 1rem 0;
  object-fit: cover;
}

.feature_rev_content {
  flex: 1;
  padding-right: 5%;
  justify-content: center;
  margin: auto;
}

/* contact */

.contact-container{
  background-color: var(--coolGray900);
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  /* min-height: 70vh; */
}

.heading {
  color: var(--coolGray50);
  text-align: center;
  font-size: 3rem;
  margin: 1rem auto;
  max-width: 500px;
}

.contact-subheading {
  color: var(--coolGray400);
  text-align: center;
  max-width: 650px;
  line-height: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* blog-page */

.blog-content{
  max-width: 720px;
  margin: 5rem auto;
}

.blog-heading{
  font-size: 3rem;
  text-align: center;
}

.blog-image{
  max-width: 100%;
  margin: 2rem 0;
}

.blog-subheading{
  font-size: 2rem;
  color: var(--coolGray200);
}

.blog-text{
  font-size: 1rem;
  line-height: 2rem;
  color: var(--coolGray300);
}

.blog-meta{
  font-size: 1rem;
  /* line-height: 2rem; */
  color: var(--coolGray300);
  text-align: center;
}

.blog-list{
  font-size: 1rem;
  line-height: 2.5rem;
  color: var(--coolGray300);
}

.blog-content ol{
  padding-left: 1rem;
}

.footer-container{
  background-color: var(--coolGray800);
  padding: 0 2rem;
  margin-top: auto;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo {
  font-weight: bold;
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--coolGray50);
  transition: color 0.25s ease-in;
}

.footer-logo:hover{
  color: var(--coolGray400);
}

.footer-nav-menu{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  margin-right: auto;
  margin-left: 2rem;
}

.footer-nav-item {
  display: flex;
  margin: 0 1rem;
  text-decoration: none;
  color: var(--coolGray50);
  transition: color 0.25s ease-in;
}

.footer-nav-item:hover {
  color: var(--coolGray400);
}

/* blogs */

.blog-container {
  display: grid;
  grid-template-columns: auto auto;
  overflow: hidden;
  padding: 2rem 1rem;
}

.blog-container a{
  text-decoration: none;
  max-width: 50%;
}

.blog-item {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--coolGray800);
  margin: 1rem;
  font-size: 30px;
  max-width: 100%;
  text-decoration: none;
  transition: 0.2s ease-in;
}

.blog-item:hover{
  transform: scale(1.02);
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
}

.blog-item-content{
  padding: 2rem;
  overflow: hidden;
}

.blog-item-image{
  height: 250px;
  object-fit: cover;
}

.blog-item-title{
  margin-top: 0;
  font-size: 1.5rem;
  color: var(--coolGray50);
}

.blog-item-date{
  font-size: 1rem;
  color: var(--coolGray400);
}

.blog-item-description{
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--coolGray300);
}

@media (max-width: 768px){

  .body-container{
    padding: 0 1.5rem;
  }

  section{
    padding: 0 2rem;
  }

  .feature, .feature-rev {
    flex-direction: column;
  }

  .feature_image_container{
    width: auto;
    max-width: 90vw;
    background-size: cover;
    margin: 0;
  }

  .feature_image{
    width: calc(100vw-2rem);
    max-width: 90vw;
    height: 67vw;
    max-height: 450px;
    margin: 0 auto;
  }

  .feature_content{
    padding: 0;
  }

  .feature_rev_image_container{
    width: auto;
    max-width: 90vw;
    background-size: cover;
    margin: 0;
  }

  .feature_rev_image{
    width: calc(100vw-2rem);
    max-width: 90vw;
    height: 67vw;
    max-height: 450px;
    margin: 0 auto;
  }

  .feature_rev_content{
    padding: 0;
  }

  .blog-container {
    display: grid;
    grid-template-columns: auto;
    overflow: hidden;
    padding: 2rem 0;
  }

  .blog-container a{
    text-decoration: none;
    max-width: 100%;
    overflow: hidden;
    margin: auto;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }

  .blog-container:focus-visible{
    outline: none;
  }

  .blog-item:hover{
    transform: scale(0.95);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
  }

  .blog-item {
    margin: 2rem 0;
  }

  .blog-item-content{
    padding: 1.5rem;
  }

  .blog-item-image {
    height: 50vw;
  }

  .blog-heading{
    font-size: 2rem;
  }

  .blog-subheading{
    font-size: 1.5rem;
  }

  .footer{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .footer-nav-menu{
    margin: 2rem auto;
    flex-direction: column;
    align-items: center;
  }

  .footer-nav-item{
    margin: 0.5rem auto;
  }

}

@media (max-width: 1440px){
  .about{
    min-height: 80vh;
  }
}